/// Process section start

.process {
    background-color: $color-primary;
    text-align: center;
    color: $color-white;
    padding-top: 45rem;

    @media only screen and (max-width: $bp-medium){
        padding: 7rem 15rem 5rem;
    }
    @media only screen and (max-width: $bp-small){
        padding: 7rem 5rem 5rem;
    }

    .title {
        color: $title-color;
    }

    h1 {
        color: $color-white;
        width: 50%;
        margin: 0.9rem auto 7rem;

        @media only screen and (max-width: $bp-medium){
            width: 100%;
        }
    }

    .icon-box {

        width: 30rem;
        margin: 0 auto;

        @media only screen and (max-width: $bp-medium){
            width: 60%;
            margin-bottom: 3rem;
        }
        img {
            width: 10rem;
        }
        h3 {
            font-size: 2.6rem;
            line-height: 130%;
            margin: 1rem 0 2rem;
        }
        p {
            font-size: 1.8rem;
            line-height: 140%;
            color: $color-paragraph;
        }
    }

}