///All typography options

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
}

.heading-primary {
    font-size: 6rem;
    line-height: 7rem;
    color: $color-primary;
}

.heading-secondary {
    font-size: 4.2rem;
    line-height: 130%;
    color: $color-primary;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 140%;
    color: $text-color;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 26px;
    color: $color-secondary;
}