.padding-sm {
    padding: 5.4rem 0;
}
.padding-md {
    padding: 8.4rem 0;
}
.padding-lg {
    padding: 10.4rem 0;
}
.padding-big {
    padding: 12rem 0;
}
.padding-el {
    padding: 15rem 0 5.4rem;
}